* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111; 

}

.container {
  position: relative;
  width: 200px;
  height: 100px;
}

.left {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid skyblue;
  transform: skewY(-30deg);
  transform-origin: top right;
  z-index: 1;
}

.right {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: seagreen;
  border: 2px solid skyblue;
  transform: skewY(30deg);
  right: 0;
  transform-origin: top left;
  z-index: 1;
}

.center {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 4px;
  left: 10px;
  right: 0;
  margin: auto;
  transform: rotate(-47deg) skewY(20deg) skewX(18deg);
  background-color: skyblue;
  opacity: 0.5;
  z-index: 2;
}